.App {
  text-align: center;
  font-size: 12px;
  font-weight:500;
}
body{
  background-color: rgb(8, 20, 64);
}
.header{
  font-size: 35px;
  text-align: center;
  color:rgb(43, 225, 238);
  border-bottom: 2px solid black;
  height: 60px;
  padding: 3px;
  background-color: rgb(6, 17, 56);

}
.hydranet{
  font-size: 33px;
  margin-left: 6%;
  position: relative;
  float: left;
}
.hdxlogo{
  position: relative;
  float: left;
  height: 45px;
  width: 45px;
  margin-top: 4px;
  margin-left: 6px;
}
.Navbar{
  background-color: #020730;
  height: 75px;
  color:azure;
  padding: 5px;
  margin-top: 5px;
}
.nav{
  position: relative;
  float: left;
  margin-left: 20px;
  font-size:20px;
  font-size: 15px;
  }
.navs{
  float: right;
  float: top;
  margin-right: 20%;
  
}
.navnumber{
  position: absolute;
  float: bottom;
  margin-top: 30px;
  margin-left: 20px;
  color: rgb(192, 255, 255);
  
}
.navtext{
  position: relative;
  float: top;
  font-size: 20px;
  color: rgb(1, 183, 183);
}
.bars{
  width: 50%;
  position: absolute;

  margin-left: 7%;
}
.biginput{
  width: 65%;
  font-size:15px;
  text-align: center;
  position: relative;
  float: left;
  border-radius: 8px;
  margin-left: 10%;
  margin-top: 10px;
  height: 40px;
  border: 3px solid rgb(76, 195, 183);

}
.btn-info{
  position: relative;
  float: left;
  font-size:16px;
  border-radius: 10px;
  margin-top: 10px;
  width: 9%;
  height: 40px;
  margin-left: 5px;

}


.btn-primary{
  font-size: 20px;
  position: absolute;
  right: 0;
  margin-right: 6%;
  margin-top: 4px;
}
.input{
  width:90%;
  position: relative;
  margin-left: 3%;
  height: 20px;

}
.inputtop{

  width:89.5%;
  margin-left: 3%;
  margin-bottom: 33px;
}
.inputNumber{
  width: 90px;
  position: relative;
  float: right;
  border-radius: 7px;
  background-color: rgb(134, 225, 225);

}

.value{
  color: rgb(255, 255, 255);
  position: relative;
  float: right;
  background-color: #054282;
  width:80px;
  border-radius: 5px;

}
.text{
  color: rgb(174, 208, 238);
  width: 180px;
  position: relative;
  float: left;
  margin-left: 5px;
  text-align: left;
  border-radius: 5px;
}
.div{
  position: relative;
  border-bottom: solid 3px rgb(37, 97, 107);
  padding: 12px;
  height: 82px;

}
.inf{
  float: right;
  width: 35%;
  margin-top: 20px ;
  margin-right: 4%;

}
.infos1,.infos2,.infos3{
  color: rgb(174, 208, 238);
  text-align: left;
  margin-bottom: 40px;

}
.info, .infolast{
  border: 2px solid rgb(48, 36, 135);
  margin-top: 9px;
  width: 95%;
  background-color: rgb(21, 9, 75);
  font-size: 15px;
  padding: 13px;
  border-radius: 8px;
}
.infolast{
  background-color: rgb(17, 8, 56);
}

.numbers{
  position: relative;
  text-align: right;
  color: rgb(0, 255, 255);


}
.asd{
  position: relative;
  float: left;

}
input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  border: none;
  height: 22px;
  width: 22px;
  background-color: transparent;
  background-image:url("https://imgyukle.com/f/2022/08/31/naCvUh.png"); 
  background-position: 0 0;
  background-size: cover;
  transform: scale(1.5) ;
  margin-top: -8px;
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  background: rgb(67, 104, 159);
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 99%; /* Full-width */
  height: 0px; /* Specified height */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
 .slider:hover {
  opacity: 8; 
}  


@media screen and (min-width: 2400px){
  .App {
    font-size: 22px;
  }
  .header{
    font-size: 55px;
    height: 90px;
  }
  .hydranet{
    font-size: 63px;
  }
  .hdxlogo{
    height: 75px;
    width: 75px;
    margin-top: 12px;
  }
  .Navbar{
    background-color: #020730;
    height: 110px;
    color:azure;
  }
  .nav{
    margin-left: 20px;
    font-size:30px;

    }

  .navnumber{
    margin-top: 40px;
    margin-left: 20px;

  }
  .navtext{
    font-size: 35px;
  }

  .biginput{
    font-size:25px;
    border-radius: 10px;
    margin-top: 15px;
    height: 50px;

  }
  .btn-info{

    font-size:22px;
    border-radius: 10px;
    margin-top: 15px;
    height: 50px;
  }
  
  
  .btn-primary{
    font-size: 35px;
    margin-top: 8px;
  }
  .input{
    height: 20px;
  }
  .inputtop{
    margin-bottom: 43px;
  }
  .inputNumber{
    width: 140px;
  }
  .text{
    width: 350px;
  }
  .div{
    padding: 18px;
    height: 140px;
  }
  .inf{
    margin-top: 40px ;
    margin-right: 4%;
  }
  .infos1,.infos2,.infos3{
    margin-bottom: 55px;
  }
  .info{

    font-size: 26px;
    padding: 28px;

  }
  
}


@media screen and (min-width: 767px) and (max-width: 1200px){
  .App {
    font-size: 10px;
  }
  .header{
    font-size: 23px;
    height: 40px;
  }
  .hydranet{
    font-size: 25px;
  }
  .hdxlogo{
    height: 35px;
    width: 35px;
    margin-top: 3px;
  }
  .Navbar{
    height: 60px;
  }
  .nav{
    margin-left: 20px;
    font-size:10px;

    }
    .bars{
      margin-left: 4%;
    }

  .navnumber{
    margin-top: 18px;
    margin-left: 10px;

  }
  .navtext{
    font-size: 13px;
  }

  .biginput{

    font-size:9px;
    border-radius: 6px;
    margin-top: 10px;
    height: 30px;

  }
  .btn-info{
    width: 13%;
    font-size:12px;
    border-radius: 10px;
    margin-top: 10px;
    height: 30px;
  }
  
  
  .btn-primary{
    font-size: 14px;
    margin-top: 3px;
  }
  .input{
    height: 10px;
  }
  .inputtop{
    margin-bottom: 30px;
  }
  .inputNumber{
    width: 80px;
  }
  .text{
    width: 230px;
  }
  .div{
    padding: 10px;
    height: 75px;
  }
  .inf{
    margin-top: 20px ;
    width: 42%;
    margin-right: 1%;

  }
  .infos1,.infos2,.infos3{
    margin-bottom: 30px;
  }
  .info, .infolast{

    font-size: 10px;
    padding: 14.5px;
    

  }
}
@media screen and (min-width: 479px) and (max-width: 767px){
  .App {
    font-size: 7px;
  }
  .header{
    font-size: 16px;
    height: 29px;
  }
  .hydranet{
    font-size: 16px;
  }
  .hdxlogo{
    height: 26px;
    width: 26px;
    margin-top: 0px;
  }
  .Navbar{
    height: 40px;
  }
  .nav{
    margin-left: 5px;
    font-size:8px;

    }
    .bars{
      margin-left: 3%;
    }

  .navnumber{
    margin-top: 8px;
    margin-left: 4px;
    margin-top: 11px;

  }
  .navtext{
    font-size: 9px;
  }

  .biginput{
    font-size:6px;
    border-radius: 6px;
    margin-top: 13px;
    height: 20px;
    width: 77%;
    margin-left: 3%;

  }
  .btn-info{
    width: 17%;
    font-size:7px;
    border-radius: 5px;
    margin-top: 13px;
    height: 20px;
  }
  
  
  .btn-primary{
    font-size: 7px;
    margin-top: 3px;
  }
  .input{
    height: 10px;
    width: 96%;
  }
  .inputtop{
    width: 96%;
    margin-bottom: 25px;
    margin-top: 2px;
  }
  .inputNumber{
    width: 80px;
  }
  .text{
    width: 110px;
  }
  .div{
    padding: 6px;
    height: 58px;
  }
  .inf{
    margin-top: 10px ;
    width: 43%;
    margin-right: 1%;

  }
  .infos1,.infos2,.infos3{
    margin-bottom: 25px;
  }
  .info, .infolast{

    font-size: 7px;
    padding: 10.51px;
    

  }
  input[type="range"]::-webkit-slider-thumb {
   
    height: 14px;
    width: 14px;
    margin-top: -5px;

  }
  input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
  }
 
}
@media screen and (min-width: 390px) and (max-width: 479px){
  .App {
    font-size: 6px;
  }
  .header{
    font-size: 11px;
    height: 24px;
  }
  .hydranet{
    font-size: 12px;
  }
  .hdxlogo{
    height: 20px;
    width: 20px;
    margin-top: 0px;
  }
  .Navbar{
    height: 30px;
    margin-top: 1px;
  }
  .nav{
    margin-left: 5px;
    font-size:8px;
 }
 .navs{
  margin-right:57px ;
 }
    .bars{
      margin-left: 1.7%;
      margin-top: -7px;
    }

  .navnumber{
    margin-left: 4px;
    margin-top: 11px;
    font-size: 7px;

  }
  .navtext{
    font-size: 7px;
  }

  .biginput{
    font-size:5px;
    border-radius: 6px;
    margin-top: 13px;
    height: 16px;
    width: 77%;
    margin-left: 3%;
    border: 1.5px solid rgb(76, 195, 183);

  }
  .btn-info{
    width: 15%;
    font-size:7px;
    border-radius: 5px;
    margin-top: 13px;
    height: 16px;
    padding: 2px;
  }
  
  
  .btn-primary{
    font-size: 7px;
    margin-top: 2px;
    height: 16px;
    width: 34px;
    padding: 2px;
    margin-right: 4%;
  }
  .input{
    height: 10px;
    width: 96%;
  }
  .inputtop{
    width: 96%;
    margin-bottom: 20px;
    margin-top: 2px;
  }
  .inputNumber{
    width: 60px;
  }
  .text{
    width: 110px;
    margin-top: 2px;
  }
  .div{
    padding: 4px;
    height: 46px;
    border-bottom: solid 1.5px rgb(37, 97, 107);
  }
  .inf{
    margin-top: 10px ;
    width: 46%;
    margin-right: 0%;

  }
  .infos1,.infos2,.infos3{
    margin-bottom: 25px;
  }
  .info, .infolast{

    font-size: 6.4px;
    padding: 5.5px;
    

  }
  input[type="range"]::-webkit-slider-thumb {
   
    height: 12px;
    width: 12px;
    margin-top: -3px;

  }
  input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
  }
}
@media screen and (max-width: 390px){
  .App {
    font-size: 6px;
  }
  .header{
    font-size: 11px;
    height: 24px;
  }
  .hydranet{
    font-size: 12px;
  }
  .hdxlogo{
    height: 20px;
    width: 20px;
    margin-top: 0px;
  }
  .Navbar{
    height: 30px;
    margin-top: 1px;
  }
  .nav{
    margin-left: 5px;
    font-size:8px;
 }
 .navs{
  margin-right:57px ;
 }
    .bars{
      margin-left: 1.7%;
      margin-top: -7px;
    }

  .navnumber{
    margin-left: 4px;
    margin-top: 11px;
    font-size: 7px;

  }
  .navtext{
    font-size: 7px;
  }

  .biginput{
    font-size:5px;
    border-radius: 6px;
    margin-top: 13px;
    height: 16px;
    width: 77%;
    margin-left: 3%;
    border: 1.5px solid rgb(76, 195, 183);

  }
  .btn-info{
    width: 15%;
    font-size:7px;
    border-radius: 5px;
    margin-top: 13px;
    height: 16px;
    padding: 2px;
  }
  
  
  .btn-primary{
    font-size: 7px;
    margin-top: 2px;
    height: 16px;
    width: 34px;
    padding: 2px;
    margin-right: 4%;
  }
  .input{
    height: 10px;
    width: 96%;
  }
  .inputtop{
    width: 96%;
    margin-bottom: 20px;
    margin-top: 2px;
  }
  .inputNumber{
    width: 60px;
  }
  .text{
    width: 110px;
    margin-top: 2px;
  }
  .div{
    padding: 4px;
    height: 46px;
    border-bottom: solid 1.5px rgb(37, 97, 107);
  }
  .inf{
    margin-top: 10px ;
    width: 46%;
    margin-right: 0%;

  }
  .infos1,.infos2,.infos3{
    margin-bottom: 25px;
  }
  .info, .infolast{

    font-size: 6.4px;
    padding: 5.5px;
    

  }
  input[type="range"]::-webkit-slider-thumb {
   
    height: 12px;
    width: 12px;
    margin-top: -3px;

  }
  input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
  }
}
  