.App {
  text-align: center;
  font-size: 12px;
  font-weight:500;
}
body{
  background-color: rgb(11, 21, 60);
  
}
image{
  opacity: 0.1;
}
.header{
  font-size: 35px;
  text-align: center;
  color:rgba(225, 240, 241, 0.674);
  height: 60px;
  padding: 3px;
  background-color: rgb(6, 16, 54);

}
.checkbox{
  position: absolute;
  float: left;
  margin-left: 6%;
  font-size: 20px;
  margin-top: 22px;
}
.hydranet{
  font-size: 33px;
  margin-left: 6%;
  position: relative;
  float: left;
}
.hdxlogo{
  position: relative;
  float: left;
  height: 45px;
  width: 45px;
  margin-top: 4px;
  margin-left: 6px;
}
.Navbar{
  background-color: #020730;
  height: 75px;
  color:azure;
  padding: 5px;
  margin-top: 5px;
}
.nav{
  position: relative;
  float: left;
  margin-left: 20px;
  font-size:20px;
  font-size: 15px;
  padding: 2px;
}
.navs{
  float: right;
  float: top;
  margin-right: 17%;
 
}
.navnumber{
  position: absolute;
  float: bottom;
  margin-top: 30px;
  margin-left: 10px;
  color: rgb(192, 255, 255);
  
}
.navtext{
  position: relative;
  float: top;
  font-size: 20px;
  color: rgb(1, 183, 183);
}
.bars{
  width: 50%;
  position: absolute;

  margin-left: 8%;
}
.biginput{
  width: 65%;
  font-size:15px;
  text-align: center;
  position: relative;
  float: left;
  border-radius: 8px;
  margin-left: 10%;
  margin-top: 10px;
  height: 40px;
  border: 3px solid rgb(76, 195, 183);

}
.btn-info{
  position: relative;
  float: left;
  font-size:16px;
  border-radius: 10px;
  margin-top: 10px;
  width: 9%;
  height: 40px;
  margin-left: 5px;

}
.option{
  font-size: 20px;
  position: absolute;
  right: 0;
  margin-right: 6%;
  margin-top: 4px;
  background-color:rgb(59, 209, 247);
  color: rgb(8, 21, 40);
  border-radius: 7px;
  text-align: center;
  padding: 2px;
}
.checkbtn{
  font-size: 14px;
  background-color: #2692b9;
  border-radius: 10px;
  color: rgb(7, 27, 129);
  border: none;
  padding: 4px;
  font-weight: 700;
}
.input{
  width:90%;
  position: relative;
  margin-left: 3%;
  height: 20px;
  
}
.inputtop{
  position: relative;
  width:89.5%;
  margin-left: 3%;
  margin-bottom: 35px;

}
.inputNumber{
  width: 90px;
  position: relative;
  float: right;
  border-radius: 7px;
  background-color: transparent;
  border: 2px solid rgba(29, 204, 163, 0.289) !important;
  box-shadow: none !important;
  color: rgb(169, 229, 255);
  padding: 5px;
  border: 0;
  margin-top: -5px;
}

.value{
  color: rgb(255, 255, 255);
  position: relative;
  float: right;
  background-color: #0d3d71;
  width:80px;
  border-radius: 5px;
}
b{
  font-size: 15px;
  font-weight: 700;
  color: rgb(77, 211, 238);
}
.text{
  color: rgb(174, 208, 238);
  position: relative;
  float: left;
  margin-left: 5px;
  text-align: left;
  border-radius: 5px;
}
.div{
  position: relative;
  padding: 12px;
  height: 82px;
  margin-bottom: 0px;



}
.inf{
  float: right;
  width: 35%;
  margin-top: 30px ;
  margin-right: 5%;

}
.infos1,.infos2,.infos3{
  color: rgb(174, 208, 238);
  text-align: left;
  margin-bottom: 40px;

}
.info, .infolast{
  
  border: 2px solid rgba(255, 255, 255, 0.116);
  margin-top: 2px;
  width: 95%;
  background-color:transparent ;
  font-size: 15px;
  padding: 15px;
  border-radius: 10px;

}
.infolast{
  background-color:#0a1034;
}

.numbers{
  position: relative;
  text-align: right;
  color: rgb(0, 255, 255);


}
.textright{
  position: relative;
  float: left;

}
input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  border: none;
  height: 22px;
  width: 22px;
  background-color: transparent;
  background-image:url("./hdx.svg"); 
  background-position: 0 0;
  background-size: cover;
  transform: scale(1.5) ;
  margin-top: -8px;
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  background: rgb(67, 104, 159);
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 99%; /* Full-width */
  height: 0px; /* Specified height */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
 .slider:hover {
  opacity: 8; 
}  


@media screen and (min-width: 2400px){
  .App {
    font-size: 22px;
  }
  .header{
    font-size: 55px;
    height: 90px;
  }
  .hydranet{
    font-size: 63px;
  }
  .hdxlogo{
    height: 75px;
    width: 75px;
    margin-top: 12px;
  }
  .Navbar{
    background-color: #020730;
    height: 110px;
    color:azure;
  }
  .nav{
    margin-left: 20px;
    font-size:30px;
    }

  .navnumber{
    margin-top: 40px;
    margin-left: 20px;

  }
  .navtext{
    font-size: 35px;
  }

  .biginput{
    font-size:25px;
    border-radius: 10px;
    margin-top: 15px;
    height: 50px;

  }
  .btn-info{

    font-size:22px;
    border-radius: 10px;
    margin-top: 15px;
    height: 50px;
  }
  
  
  .option{
    font-size: 35px;
    margin-top: 8px;
  }
  .input{
    height: 20px;
  }
  .inputtop{
    margin-bottom: 43px;
  }
  .inputNumber{
    width: 140px;
  }
  .text{
    width: 350px;
  }
  .div{
    padding: 18px;
    height: 140px;
  }
  .inf{
    margin-top: 40px ;
    margin-right: 4%;
  }
  .infos1,.infos2,.infos3{
    margin-bottom: 55px;
  }
  .info,.infolast{

    font-size: 26px;
    padding: 28px;

  }
  
}
@media screen and (min-width: 767px) and (max-width: 1200px){
  .App {
    font-size: 10px;
  }
  .header{
    font-size: 23px;
    height: 40px;
  }
  .hydranet{
    font-size: 25px;
  }
  .checkbox{
    margin-left: 4%;
    font-size: 10px;
    margin-top: 10px;
  }
  .checkbtn{
    font-size: 10px;
    background-color: #256bb5;
    border-radius: 7px;
    width: 40px;
    color: white;
  }
  b{
    font-size: 10px;
    font-weight: 700;
    color: rgb(77, 211, 238);
  }
  .hdxlogo{
    height: 35px;
    width: 35px;
    margin-top: 3px;
  }
  .Navbar{
    height: 60px;
  }
  .nav{
    margin-left: 10px;
    padding: 2px;
    

    }
    .bars{
      margin-left: 4%;
    }

  .navnumber{
    margin-top: 18px;
    margin-left: 3px;
    font-size:11px;

  }
  .navtext{
    font-size: 12px;
  }

  .biginput{

    font-size:9px;
    border-radius: 6px;
    margin-top: 10px;
    height: 30px;

  }
  .btn-info{
    width: 13%;
    font-size:12px;
    border-radius: 10px;
    margin-top: 10px;
    height: 30px;
  }
  
  
  .option{
    font-size: 14px;
    margin-top: 3px;
    margin-right: 3%;
  }
  .input{
    height: 10px;
  }
  .inputtop{
    margin-bottom: 30px;
  }
  .inputNumber{
    width: 80px;
    padding: 3px;
  }
  .text{
    width: 230px;
  }
  .div{
    padding: 10px;
    height: 75px;
  }
  .inf{
    margin-top: 20px ;
    width: 42%;
    margin-right: 1%;

  }
  .infos1,.infos2,.infos3{
    margin-bottom: 30px;
  }
  .info, .infolast{

    font-size: 11px;
    padding: 16px;
    

  }
}
@media screen and (min-width: 479px) and (max-width: 767px){
  .App {
    font-size: 7px;
  }
  .header{
    font-size: 15px;
    height: 29px;
  }
  .hydranet{
    margin-left: 20px;
    font-size: 16px;
  }
  .hdxlogo{
    height: 26px;
    width: 26px;
    margin-top: 0px;
  }
  .Navbar{
    height: 40px;
  }
  .nav{
    margin-left: 5px;
    font-size:8px;

    }
    .checkbox{
      margin-left: 3%;
      font-size: 6px;
      margin-top: 6px;
      
    }
    .checkbtn{
      font-size: 4px;
      background-color: #256bb5;
      border-radius: 3px;
      border: 1px;
      color: white;
      padding: 3px;
    }
    b{
      font-size: 7px;
      font-weight: 700;
      color: rgb(77, 211, 238);
    }
    .bars{
      margin-left: 2%;
    }

  .navnumber{
    margin-top: 6px;
    margin-left:3px;
    margin-top: 11px;
    font-size: 6px;

  }
  .navtext{
    font-size: 7px;
  }

  .biginput{
    font-size:6px;
    border-radius: 6px;
    margin-top: 13px;
    height: 20px;
    width: 77%;
    margin-left: 3%;

  }
  .btn-info{
    width: 17%;
    font-size:7px;
    border-radius: 5px;
    margin-top: 13px;
    height: 20px;
    padding: 2px;
  }
  
  
  .option{
    font-size: 5px;
    margin-top: 3px;
    margin-right: 15px;
    padding: 3px;
  }
  .input{
    height: 10px;
    width: 97%;
  }
  .inputtop{
    width: 97%;
    margin-bottom: 25px;
    margin-top: 2px;
  }
  .inputNumber{
    width: 65px;
    padding: 3px;
  }
  .text{
    width: 130px;
  }
  .div{
    padding: 7px;
    height: 54px;
  }
  .inf{
    margin-top: 15px ;
    width: 43%;
    margin-right: 1%;

  }
  .infos1,.infos2,.infos3{
    margin-bottom: 25px;
  }
  .info, .infolast{

    font-size: 7px;
    padding: 12px;
    

  }
  input[type="range"]::-webkit-slider-thumb {
   
    height: 14px;
    width: 14px;
    margin-top: -5px;

  }
  input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
  }
 
}
@media screen and (min-width: 390px) and (max-width: 479px){
  .App {
    font-size: 5px;
  }
  .header{
    font-size: 10px;
    height: 25px;
  }
  .hydranet{
    font-size: 16px;
    margin-left: 5px;
  }
  .hdxlogo{
    height: 25px;
    width: 25px;
    margin-top: 0px;
  }
  .Navbar{
    height: 35px;
    margin-top: 1px;
  }
  .nav{
    margin-left: 1px;
    font-size:8px;

 }
 .navs{
  margin-right:57px ;
 }
 .checkbox{
  margin-left: 4%;
  font-size: 6px;
  margin-top: 3px;
}
.checkbtn{
  font-size: 6px;
  background-color: #256bb5;
  border-radius: 6px;
  width: 30px;
  color: white;
}
b{
  font-size: 6px;
  font-weight: 700;
  color: rgb(77, 211, 238);
}
    .bars{
      margin-left: 1.7%;
      margin-top: -7px;
    }

  .navnumber{
    margin-left: 1px;
    margin-top: 11px;
    font-size: 6px;

  }
  .navtext{
    font-size: 7px;
  }

  .biginput{
    font-size:5px;
    border-radius: 6px;
    margin-top: 13px;
    height: 16px;
    width: 77%;
    margin-left: 3%;
    border: 1.5px solid rgb(76, 195, 183);

  }
  .btn-info{
    width: 15%;
    font-size:7px;
    border-radius: 5px;
    margin-top: 13px;
    height: 16px;
    padding: 2px;
  }
  
  
  .option{
    font-size: 7px;
    margin-top: 2px;
    height: 16px;
    width: 34px;
    padding: 2px;
    margin-right: 4%;
  }
  .input{
    height: 10px;
    width: 96%;
  }
  .inputtop{
    width: 96%;
    margin-bottom: 19px;
    margin-top: 0px;
  }
  .inputNumber{
    padding: 2px;
    width: 55px;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.289) !important;
  }
  .text{
    width: 110px;
    margin-top: 2px;
  }
  .div{
    padding: 4px;
    height: 42px;

  }
  .inf{
    margin-top: 14px ;
    width: 46%;
    margin-right: 0%;

  }
  .infos1,.infos2,.infos3{
    margin-bottom: 25px;
  }
  .info, .infolast{

    font-size: 6.4px;
    padding: 6.5px;
    

  }
  input[type="range"]::-webkit-slider-thumb {
   
    height: 10px;
    width: 10px;
    margin-top: -3px;

  }
  input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
  }
}
@media screen and (max-width: 390px){
  .App {
    font-size: 6px;
  }
  .header{
    font-size: 10px;
    height: 26px;
  }
  .hydranet{
    font-size: 12px;
    margin-left: 5px;
  }
  .hdxlogo{
    height: 19px;
    width: 19px;
    margin-top: 0px;
  }
  .Navbar{
    height: 35px;
    margin-top: 1px;
  }
  .nav{
    margin-left: 5px;
    font-size:6px;
 }
 .navs{
  margin-right:57px ;
 }
 .checkbox{
  margin-left: 4%;
  font-size: 5px;
  margin-top: 3px;
}
.checkbtn{
  font-size: 5px;
  background-color: #256bb5;
  border-radius: 6px;
  width: 24px;
  color: white;
}
b{
  font-size: 6px;
  font-weight: 700;
  color: rgb(77, 211, 238);
}
    .bars{
      margin-left: 0%;
      margin-top: -7px;
    }

  .navnumber{
    margin-left: 4px;
    margin-top: 11px;
    font-size: 6px;

  }
  .navtext{
    font-size: 6px;
  }

  .biginput{
    font-size:5px;
    border-radius: 6px;
    margin-top: 13px;
    height: 16px;
    width: 77%;
    margin-left: 3%;
    border: 1.5px solid rgb(76, 195, 183);

  }
  .btn-info{
    width: 15%;
    font-size:7px;
    border-radius: 5px;
    margin-top: 13px;
    height: 16px;
    padding: 2px;
  }
  
  
  .option{
    font-size: 7px;
    margin-top: 2px;
    height: 16px;
    width: 34px;
    padding: 2px;
    margin-right: 4%;
  }
  .input{
    height: 10px;
    width: 96%;
  }
  .inputtop{
    width: 97%;
    margin-bottom: 19px;
    margin-top: 0px;
  }
  .inputNumber{
    padding: 1px;
    width: 47px;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.289) !important;

  }
  .text{
    width: 110px;
    margin-top: 2px;
  }
  .div{
    padding: 2px;
    height: 42px;
  }
  .inf{
    margin-top: 14px ;
    width: 46%;
    margin-right: 0%;

  }
  .infos1,.infos2,.infos3{
    margin-bottom: 25px;
  }
  .info, .infolast{

    font-size: 5.5px;
    padding: 7px;
    

  }
  input[type="range"]::-webkit-slider-thumb {
   
    height: 10px;
    width: 10px;
    margin-top: -3px;

  }
  input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
  }
}
